
<div id="home" class="view hm-stylish-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2853%29.jpg);">
		<div class="full-bg-img">
				<div class="container flex-center">
						<div class="row pt-5 mt-3">
								<div class="col-md-12 mb-3">
										<div class="intro-info-content text-center">
												<h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s">ABOUT <a class="white-text font-bold">US</a></h1>
												<h5 class="font-up white-text mb-5 mt-1 font-bold wow fadeInDown" data-wow-delay="0.3s">Lorem ipsum dolor sit amet consectetur. </h5>
												<a class="btn btn-light-blue btn-lg wow fadeInDown" data-wow-delay="0.3s">portfolio</a>
												<a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s">About</a>
												<a class="btn btn-indigo btn-lg wow fadeInDown" data-wow-delay="0.3s">Blog</a>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
</header>
